.itm-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  img {
      border-radius: .3rem;
  }

  span {
    font-size: 1.5rem;
    margin: 1rem;
    &:nth-child(2) {
        font-size: 2rem;
        font-weight: 600;
    }
  }
}
